:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(117, 117, 117, 1);
  --accent-color: #2196f3;
  --wite-color: rgba(255, 255, 255, 1);
  --wite-adres-color: rgba(255, 255, 255, 0.6);
  --background-features-work-color: #e5e5e5;
  --background-team-color: #f5f4fa;
  --background-hero-footer-color: rgba(47, 48, 58, 1);
  --background-buttons-color: rgba(245, 244, 250, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  margin: 0 auto;
  background-color: var(--wite-color);
  border-bottom: 1px solid #ececec;
  /* height: 80px; */
  position: relative;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__logo {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  vertical-align: Top;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo:focus, .header__logo:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    font-size: 26px;
  }
}

.header__logo--web {
  color: var(--accent-color);
}

.header a {
  color: var(--primary-text-color);
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: flex;
    align-items: center;
  }
}

.menu-button {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 3;
  position: fixed;
  top: -3px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
}

.menu-container.is-open {
  display: block;
}

.menu-container.is-open body {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    flex-wrap: wrap;
    margin-bottom: -35px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__list {
    padding-left: 40px;
    padding-right: 248px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
  .site-nav a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.auth-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
    margin-left: 80px;
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 295px;
    font-size: 14px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .item + .item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__stydio.current {
    color: var(--accent-color);
  }
  .site-nav__stydio.current::after {
    content: "";
    width: 48px;
    height: 4px;
    background-size: contain;
    background: #2196f3;
    border-radius: 2px;
    display: block;
    position: absolute;
    top: 76px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__portfolio.current {
    color: var(--accent-color);
  }
  .site-nav__portfolio.current::after {
    content: "";
    width: 78px;
    height: 4px;
    background-size: contain;
    background: #2196f3;
    border-radius: 2px;
    display: block;
    position: absolute;
    top: 76px;
  }
}

.nav {
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover, .nav:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .auth-nav__mail {
    display: flex;
    align-items: center;
    fill: var(--title-text-color);
  }
}

@media screen and (max-width: 1199px) {
  .auth-nav__mail {
    margin-bottom: 10px;
  }
}

.auth-nav__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .auth-nav__mail-icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__tel {
    display: flex;
    align-items: center;
    fill: var(--title-text-color);
  }
}

.auth-nav__tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .auth-nav__tel-icon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__list {
    display: flex;
    flex-wrap: wrap-reverse;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__mail {
    margin-top: 302px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__tel-icon,
  .auth-nav__mail-icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .social-net-list {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-left: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .social-net a {
    margin-right: 20px;
    color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .social-net-list a {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .social-net-list {
    display: none;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: var(--wite-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--wite-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  display: block;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  color: var(--primary-text-color);
}

@media screen and (min-width: 480px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 93px;
    padding-bottom: 93px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__description {
    width: calc((100% - 4 * 15px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__description {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.features-list__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .features-list__wrap {
    padding: 25px 191px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__wrap {
    padding: 25px 144px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__wrap {
    padding: 25px 102px;
  }
}

.features-list__item {
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .features-list__item {
    text-align: center;
  }
}

.features-list__title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 480px) {
  .features-list__title {
    margin-bottom: 30px;
  }
}

.work {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list {
  display: flex;
  padding-left: 0;
  justify-content: center;
}

.work-list .item + .item {
  margin-left: 30px;
}

.work__title {
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list__wrap {
  position: relative;
}

.work-list__img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.work-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-color);
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
}

.tiam {
  background-color: var(--background-team-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .tiam {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.tiam__title {
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .tiam__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .tiam-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .tiam-list {
    margin-right: -15px;
  }
}

.tiam-list__card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .tiam-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .tiam-list__card {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .tiam-list__card {
    width: calc((100% - 4 * 30px) / 4);
    margin-right: 30px;
  }
}

.tiam-list__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.tiam-list__name {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.tiam-list__title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.tiam-social-list {
  display: flex;
  justify-content: center;
}

.tiam-social-list__item {
  width: 44px;
  height: 44px;
}

.tiam-social-list__item + .tiam-social-list__item {
  margin-left: 10px;
}

.tiam-social-list__link {
  width: 100%;
  height: 100%;
  /* background-color: violet; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tiam-social-list__link:hover, .tiam-social-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--wite-color);
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: -30px;
}

.customers-list__logo {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 2 * 30px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 16px 52px;
}

.customers-list__logo:hover, .customers-list__logo:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .customers-list__logo {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-list__logo {
    width: calc((100% - 6 * 30px) / 6);
    margin-bottom: 0px;
  }
}

.customers-list__link {
  display: block;
}

.footer {
  background-color: var(--background-hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .logo-invite-wrap {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 480px) {
  .logo-wrap {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-wrap {
    display: block;
    text-align: left;
    margin-bottom: 0px;
  }
}

.footer__logo {
  display: block;
  color: var(--wite-color);
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__logo:focus, .footer__logo:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 1200px) {
  .footer__logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 768px) {
  .footer__logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.footer__logo--web {
  color: var(--accent-color);
}

.address-list__link {
  color: var(--wite-adres-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.address-list__factual-link {
  color: var(--wite-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__factual-link:hover, .address-list__factual-link:focus {
  color: var(--accent-color);
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

.invite__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .invite {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .invite {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .invite {
    margin-left: 70px;
  }
}

.invite-social {
  display: flex;
}

.invite-social .item + .item {
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
  .invite-social {
    justify-content: center;
  }
}

.invite-social__item {
  width: 44px;
  height: 44px;
}

.invite-social__item + .invite-social__item {
  margin-left: 10px;
}

.invite-social__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--wite-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.invite-social__link:hover, .invite-social__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  color: var(--wite-color);
}

@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe-form__button {
  width: 200px;
  height: 50px;
  border: 0;
  background: #2196f3;
  color: var(--wite-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  padding: 10px 62px 10px 29px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .subscribe-form__button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__button {
    margin-top: 0px;
    margin-left: 12px;
    position: relative;
  }
}

.subscribe-button {
  position: absolute;
}

.subscribe-form__icon-send {
  position: absolute;
  bottom: 14px;
  right: 27px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

.subscribe-form__input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* box-sizing: border-box; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--wite-color);
}

@media screen and (min-width: 480px) {
  .subscribe-form__input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form__input {
    display: block;
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 355px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-order {
  width: 450px;
  min-height: 609px;
  background-color: var(--wite-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal-order {
    width: 528px;
    min-height: 581px;
  }
}

.modal-order__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 12px;
}

.modal-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-button-icon {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icon:hover {
  fill: var(--accent-color);
}

.modal-subscribe {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--wite-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form__input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  appearance: none;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus, .modal-form__input:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    width: 448px;
  }
}

.modal-form__wrap {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label:focus + .modal-form__icon,
.modal-form__label:hover + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon:hover {
  fill: var(--accent-color);
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  display: block;
  color: #757575;
}

.modal-textarea {
  width: 370px;
  height: 120px;
  font-size: 14px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .modal-textarea {
    width: 448px;
  }
}

.modal-label-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal-label-checkbox {
    font-size: 14px;
  }
}

.modal-submit-button {
  background-color: var(--accent-color);
  color: var(--wite-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  display: block;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
}

.label-checkbox {
  position: relative;
}

.icon-square {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 2px;
  left: -4px;
  border: 2px solid #212121;
  /* background-color: var(--accent-color); */
}

.checkbox:checked + .icon-square {
  background-color: var(--accent-color);
  border: 0;
}

@media screen and (min-width: 1200px) {
  .icon-square {
    top: 3px;
    left: 3px;
  }
}

.agreement-condition {
  color: var(--accent-color);
  margin-left: 3px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .filter {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.filter__button {
  color: var(--primary-text-color);
  background-color: var(--background-buttons-color);
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: var(--wite-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 480px) {
  .filter__button {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.portfolio-list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio-list__description {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .web {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .web {
    padding-bottom: 24px;
  }
}

.portfolio-list__projeck {
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__projeck-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.portfolio-list__card {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 480px) {
  .portfolio-list__card {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list__card {
    width: calc((100% - 4 * 15px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__card {
    width: calc((100% - 6 * 15px) / 3);
    margin-right: 30px;
  }
}

.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--wite-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translatey(101%);
  transition: transform 250ms ease;
}

.portfolio-list__card:hover .portfolio-list__overlay-card {
  transform: translatey(0);
}
/*# sourceMappingURL=main.css.map */