.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 93px;
    padding-bottom: 93px;
  }
}

.features-list {
  // @media screen and (max-width: 480px) {
  //   margin-bottom: -15px;
  // }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-bottom: -30px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: -30px;
  }
}

.features-list__description {
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    // margin-right: 30px;
  }
}

.features-list__wrap {
  display: flex;

  align-items: center;

  justify-content: center;
  // margin: 0 auto;

  // width: 270px;
  // height: 120px;

  background: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    padding: 25px 191px;
  }

  @media screen and (min-width: 768px) {
    padding: 25px 144px;
  }

  @media screen and (min-width: 768px) {
    padding: 25px 102px;
  }
}

.features-list__item {
  color: var(--primary-text-color);

  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.features-list__title {
  color: var(--title-text-color);
  // margin-top: 0;
  // margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
