.modal-order {
  width: 528px;
  min-height: 581px;
  background-color: var(--wite-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-order__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 12px;
}

.modal-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-button-icon {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--accent-color);
  }
}

// .modal-button-icon:hover {
//   fill: var(--accent-color);
// }

.modal-subscribe {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--wite-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  appearance: none;

  padding-left: 42px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

// .modal-input-form:focus,
// .modal-input-form:hover {
//   border-color: var(--accent-color);
//   fill: var(--accent-color);
// }

// .modal-input-form:focus + .icon-modal,
// .modal-input-form:hover + .icon-modal {
//   fill: var(--accent-color);
// }

.modal-form__wrap {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__label:focus + &,
  .modal-form__label:hover + & {
    fill: var(--accent-color);
  }

  &:hover {
    fill: var(--accent-color);
  }
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  display: block;
  color: #757575;
}

.modal-textarea {
  width: 448px;
  height: 120px;
  font-size: 14px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal-label-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-submit-button {
  background-color: var(--accent-color);
  color: var(--wite-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  display: block;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
}

.label-checkbox {
  position: relative;
}

.icon-square {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 3px;
  left: 3px;
  border: 2px solid #212121;
  /* background-color: var(--accent-color); */

  .checkbox:checked + & {
    background-color: var(--accent-color);
    border: 0;
  }
}

.agreement-condition {
  color: var(--accent-color);
  margin-left: 3px;
}

// .checkbox:checked + .icon-square {
//   background-color: var(--accent-color);
//   border: 0;
// }
