.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  & .item + .item {
    margin-left: 8px;
  }
}

// .filter .item + .item {
//   margin-left: 8px;
// }

.filter__button {
  color: var(--primary-text-color);
  background-color: var(--background-buttons-color);
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--wite-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// .filter-button:hover,
// .filter-button:focus {
//   color: var(--wite-color);
//   background-color: var(--accent-color);
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
// }

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  & .item:not(:nth-child(3n + 1)) {
    margin-left: 30px;
  }

  & .item:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
}

// .portfolio-list .item:not(:nth-child(3n + 1)) {
//   margin-left: 30px;
// }

// .portfolio-list .item:nth-child(-n + 6) {
//   margin-bottom: 30px;
// }

.portfolio-list__description {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding: 20px 24px;
}

.portfolio-list__img {
  display: block;
}

.portfolio-list__projeck {
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list__projeck-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.portfolio-list__card {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
// .portfolio-card:hover {
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//     1px 4px 6px rgba(0, 0, 0, 0.16);
// }

.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: block;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--wite-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translatey(101%);
  transition: transform 250ms ease;

  .portfolio-list__card:hover & {
    transform: translatey(0);
  }
}

// .portfolio-card:hover .portfolio-overlay-card {
//   transform: translatey(0);
// }
