.tiam-list__card {
  width: 270px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.tiam {
  background-color: var(--background-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.tiam-list {
  display: flex;
  padding-left: 0;

  & .item + .item {
    margin-left: 30px;
  }
}

// .tiam-list .item + .item {
//   margin-left: 30px;
// }

.tiam__title {
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.tiam-list__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.tiam-list__name {
  color: var(--primary-text-color);

  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.tiam-list__title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.tiam-social-list {
  display: flex;
  justify-content: center;
}

.tiam-social-list__item {
  width: 44px;
  height: 44px;

  & + & {
    margin-left: 10px;
  }
}

// .tiam-social-item + .tiam-social-item {
//   margin-left: 10px;
// }

.tiam-social-list__link {
  width: 100%;
  height: 100%;
  /* background-color: violet; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgba(175, 177, 184, 1);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--wite-color);
  }
}

// .tiam-social-link:hover,
// .tiam-social-link:focus {
//   background-color: var(--accent-color);
//   fill: var(--wite-color);
// }
