.work {
  /* background-color: var(--background-features-work-color); */
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  padding-left: 0;

  & .item + .item {
    margin-left: 30px;
  }
}

// .work-list .item + .item {
//   margin-left: 30px;
// }

.work__title {
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list__wrap {
  position: relative;
}

.work-list__img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.work-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-color);
  background: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0;
}
