:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(117, 117, 117, 1);
  --accent-color: #2196f3;
  --wite-color: rgba(255, 255, 255, 1);
  --wite-adres-color: rgba(255, 255, 255, 0.6);
  --background-features-work-color: #e5e5e5;
  --background-team-color: #f5f4fa;
  --background-hero-footer-color: rgba(47, 48, 58, 1);
  --background-buttons-color: rgba(245, 244, 250, 1);
}
